<!-- <p>product works!</p>

<img [src]="product.mediumImage"> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class="product-grid">
    <div class="product-image">
        <a href="#">
            <div id="img-container">
                <img class="pic-1" [src]="product.images[0].href" id="img-size" >
            </div>
            
            <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg"> -->
        </a>
        <ul class="social">
            <!-- <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li> -->
            <li><a (click)="addProductToCart()" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
        <!-- <span class="product-new-label">Sale</span>
        <span class="product-discount-label">20%</span> -->
    </div>
    <!-- <ul class="rating">
        <li class="fa fa-star"></li>
        <li class="fa fa-star"></li>
        <li class="fa fa-star"></li>
        <li class="fa fa-star"></li>
        <li class="fa fa-star disable"></li>
    </ul> -->
    <div class="product-content">
        <h3 class="title" id="prod-title">{{product.name}}</h3>
        <div class="price">${{product.salePrice}}
            <!-- <span>${{product.msrp}}</span> -->
        </div>
        <!-- <a class="add-to-cart" (click)="addProductToCart()">+ Add To Cart</a> -->
        <button class="btn btn-primary"  (click)="addProductToCart()" >+ Add To Cart</button>
    </div>
</div>
